.profile {
    font-size: 15px;
    margin-left: -22px;
}

.profileleft {
    cursor: pointer;
    margin-left: 92%;
    margin-top: 10px;
}

.container-1 {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: beige;
}