/* styles.css */
.password .container {
    max-width: 400px;
    margin: 66px auto;
    padding: 18px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .password  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .password  .header h1 {
    margin-left: 10px;
  }
  
  .password  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .container-3 {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: beige;
}


  
  .password  .form-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .password .form-group {
    margin-bottom: 20px;
  }
  
  .password  .form-label {
    font-weight: bold;
  }
  
  .password  .input-group {
    position: relative;
  }
  
  .password  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
  }
  
  .password  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .password  .submit-button,
  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .password  .error-message {
    color: red;
    margin-top: 10px;
  }

  .submit-button {
    background-color: blue; /* Màu nền của nút Submit */
    color: white; /* Màu chữ của nút Submit */
    margin-right: 10px; /* Khoảng cách giữa hai nút */
    padding: 10px 20px; /* Để nút rộng và dễ nhìn */
    border: none; /* Loại bỏ viền */
    border-radius: 5px; /* Bo tròn các góc */
    cursor: pointer; /* Biến con trỏ thành bàn tay khi rê chuột vào nút */
}

.cancel-button {
    background-color: red; /* Màu nền của nút Cancel */
    color: white; /* Màu chữ của nút Cancel */
    padding: 10px 20px; /* Để nút rộng và dễ nhìn */
    border: none; /* Loại bỏ viền */
    border-radius: 5px; /* Bo tròn các góc */
    cursor: pointer; /* Biến con trỏ thành bàn tay khi rê chuột vào nút */
}
  