/* Style for container */
.add .container-1-2 {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(233, 233, 187);
    overflow-y: auto;
}

/* Style for form */
.add .form {
    background-color: #f1f3f3;
    padding: 20px;
    border-radius: 10px;
}

/* Style for form title */
.add .form h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Style for form inputs and labels */
.add .form input,
.add .form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add .form label {
    font-size: 18px;
    font-weight: bold;
}

/* Style for form buttons */
.add .form button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for submit button */
.add .submit-button {
    background-color: #157ff1;
    color: white;
}

/* Style for clear button */
.add .clear-button {
    background-color: #f44336;
    color: white;
}

/* Style for error messages */
.add .error-message {
    color: red;
}
